<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<h1>About Page</h1>
	<!-- To show the simple String here -->
	<h2>
		Name of the owner is <span th:text="${name}"></span>
	</h2>
	<!-- To uppcase the text -->
	<h2 th:text="${#strings.toUpperCase(name)}"></h2>
	<!-- To check the length the text -->
	<p>
		Length of the name is <span th:text="${#strings.length(name)}"></span>
	</p>
	<h2 th:text="${currentDate}"></h2>
	
	<!-- you can define the variable in div but it will only be used in div -->
	<div th:with="a=5,b=67,n=${name}">
	
	<h1>Value of a is <span th:text="${a}"></span></h1>
	
	<!-- If you wan tto define a String with value -->
	<h1 th:text="'Value of b = ' + ${b}"></h1>
	
	<h1>Local value of n is <span th:text="${name}"></span></h1>
	
	<h2 th:text="'sum of '+${a}+ ' and ' +${b}+' is ' + ${a+b}"></h2>
	</div>
</body>
</html>