<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Example</title>
	<link rel="stylesheet" href="" th:href="@{/css/mystyle.css}"/>
</head>
<body>
	<!-- We want css javascrip and image in this page from the folders -->
	
	<div class="container">
	<img src="" class="profile" th:src="@{/image/profile.png}" alt="" />
	
	<h1>Adding CSS, Javascript and Image in Thymeleaf</h1>
	<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	 Corporis voluptatem culpa magnam consequatur dolorem neque necessitatibus m
	 inima incidunt doloremque et.</p>
	</div>
	 <script src="" th:src="@{js/myjs.js}"></script> 
</body>
</html>